body {
    font-family: Arial;
    padding: 20px;
}

.dashboard div {
    display: inline-block;
    margin-right: 15px;
    padding: 10px;
    background: #97b4f3;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000000;
    padding: 8px;
}

th {
    background: #85bef3;
}

input, textarea, button {
    margin: 5px 0;
    padding: 5px;
}
